.filter{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 10px auto;
  max-width: 550px;

}
button{
  background: white;
  height:65px;
}
button .active{
  background: orange;
}
img{
  width: 60px;
  height: auto;
  padding: 4px;
}
