<div class="filter">
  <button (click)="handleFilter( 'burger')">
    <img src="https://banner2.cleanpng.com/20180130/kdq/kisspng-hamburger-black-and-white-vector-burger-5a7005d067cd39.7014022015172909604252.jpg" alt="">
  </button>
  <button (click)="handleFilter( 'taco')">
    <img src="https://as2.ftcdn.net/v2/jpg/01/34/49/81/1000_F_134498105_YW3UxPJgSBeK92ZOd5aYO8qf4vK3cTu1.jpg"
    alt="">
  </button>
  <button (click)="handleFilter( 'chicken')">
    <img src="assets/fried-chicken.png" alt="">
  </button>
  <button (click)="handleFilter( 'drink')">
    <img src="https://www.freepnglogos.com/uploads/coca-cola-png-logo/coca-cola-zero-png-logo-5.png" alt="" style="">
  </button>
</div>
