.container{
  margin:0 auto;
  max-width:700px;
}
.fav{
  grid-template-columns: 1fr 1fr;
}
.item{
  position: relative;
  margin: 10px 0;
  padding: 6px;
  text-align: center;
  display:flex;
  flex-direction: column;
}
.heading{
  font-size: 1.1rem;
  color: black;
}
.price{
  color: red;
  font-weight: 700;
}
